<!-- start custom footer snippets, customize with your own _includes/footer-custom.html file -->

<!-- Back button to top of page -->
<p>Back to <a href="#">top of page</a></p>

<!-- Back button to homepage -->
<p>Back to <a href="{{ site.url }}">Homepage</a></p>

<!-- Show Last Update date -->
<p>Last Update: <time id="modify"></time></p>
<script>
  /* 更新日の取得 */
  const last = new Date(document.lastModified);
  const year = last.getFullYear();
  const month = last.getMonth() + 1;
  const date = last.getDate();
  const hour = last.getHours();
  const minute = last.getMinutes();
  /* 日付を書き換える */
  const target = document.getElementById('modify');
  target.textContent = `${year}-${month}-${date} ${hour}:${minute}`;
</script>

<!-- end custom head snippets -->
