<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- Setup Google Search Console -->
<!-- meta name="google-site-verification" content="{ tag }" /-->

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{% site.favicon_assets %}favicon.ico" -->
<!-- Multi-environment support ( https://realfavicongenerator.net/ )
-->
<link rel="apple-touch-icon" sizes="72x72" href="{% site.favicon_assets %}apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{% site.favicon_assets %}favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{% site.favicon_assets %}favicon-16x16.png">
<link rel="manifest" href="{% site.favicon_assets %}site.webmanifest">
<link rel="mask-icon" href="{% site.favicon_assets %}safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!-- MathJax script-->
<script>
    MathJax = {
      chtml: {
        matchFontHeight: false
      },
      tex: {
        inlineMath: [['$', '$']],
        displayMath: [['\\(','\\)']]
      }
    };
</script>
<script id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
</script>

<!-- end custom head snippets -->
